body {
    font-family: "MedievalSharp", cursive;
    background: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
    text-align: center;
    margin: 0;
    background-color: #3e2f1c;
    color: #f3eacb;
  }
  
  header {
    background-color: #2c1c0d;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  }
  
  header h1 {
    font-size: 2rem;
    margin: 0;
  }
  
  nav a {
    color: #f3eacb;
    margin-left: 20px;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
  }
  
  nav a:hover {
    color: #ffd700;
  }
  
  .container {
    padding: 40px 20px;
    text-align: center;
  }
  
  footer {
    margin-top: 40px;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: #d6cdb9;
  }
  
  h3{
    font-size: 3rem;
    filter: drop-shadow(0 0 10px white);
  }
  

  p{
    font-size: 1.3rem;
  }
  .alerta{
    color: red;
    font: bold;
    font-family: Arial, Helvetica, sans-serif;

  }